.passwordReset{
  width: min(400px, 90%);
  margin-inline: auto;
  padding-top: 50px;
  display: flex;
  gap: 25px;
  flex-direction: column;
}
.passwordReset label{
  width: 100%;
}
.passwordReset label > span{
  color: var(--p-color);
  font-size: var(--s-size);
  font-weight: 600;
}
.passwordReset label > input{
  display: block;
  margin-block: 10px;
  width: 100%;
  padding: 10px;
  border-radius: 4px;
}
.passwordReset button{
  display: block;
  width: 100%;
  border-radius: 4px;
  background-color: var(--p-color);
  color: var(--w-color);
  padding: 10px;
  font-size: var(--s-size);
  outline: none;
  border: none;
  cursor: pointer;
}
.verify{
  position: relative;
  display: flex;
  align-items: center;
  gap: 4px;
}
.verify > :first-child{
  position: absolute;
  left: 5px;
  top: -6px;
  background-color: var(--w-color);
  padding: 4px;
}
.verify > :last-child{
  min-width: fit-content;
  display: flex;
  align-items: center;
  padding: 10px;
  border-radius: 4px;
  cursor: pointer;
  color: var(--w-color);
  background-color: var(--p-color);
}