.authForm{
  position: relative;
  top: 50px;
  display: grid;
  gap: 30px;
  width: min(600px, 90vw);
  grid-template-columns: repeat(3fr, 1fr, 3fr);
  padding-block: 30px;
  margin-inline: auto;
  background-color: var(--glossy-m-color);
}
.authForm > h3{
  position: relative;
  right: 10px;
  font-size: var(--fo-size);
  color: var(--b-color);
  background-color: var(--w-color);
  padding: 10px;
}
.authForm > label{
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.authForm > label > span{
  font-size: var(--s-size);
  font-family: texturina;
  font-weight: 100;
  color: var(--p-color);
  letter-spacing: 1px;

}
.authForm > label > input{
  padding-block: 10px;
  border: none;
  border-bottom: 1px solid var(--b-color);
}
.authForm > label > input:focus{
  border: none;
  outline: none;
  border-bottom: 1px dotted var(--t-color);
}
.authForm > button{
  padding: 10px;
  border: 1px solid currentColor;
  background-color: var(--p-color);
  color: var(--w-color);
  font-size: var(--s-size);
  cursor: pointer;
}
.passwordIconBtn{
  width: fit-content;
  position: absolute;
  bottom: 0;
  right: 10px;
  z-index: 2;
  cursor: pointer;
}
.passwordIcon{
  width: 30px;
  height: 30px;
}
.contactLabel{
  height: 0;
  overflow: hidden;
  padding: 0 !important;
}