.dashboard{
  min-width: 100vw;
}
.userIcon{
  width: 100px;
  aspect-ratio: 1/1;
  padding: 10px;
  border-radius: 50%;
  border: 3px solid;
}


@media (max-width: 768px) {
  .profileDetails{
    border-bottom: 5px solid;
    display: grid;
    gap: 20px;
    padding-block: 20px;
  }
  .userIcon{
    margin-inline: auto;
  }
  .profileDetails > div > *{
    width: 100vw;
    text-align: center;
    font-size: var(--t-size);
    color: var(--p-color);
    text-transform: uppercase;
  }
  .profileDetails > div > span{
    font-family: arial;
    font-size: var(--f-size);
  }
  .profileDetails > div{
    display: grid;
    gap: 10px;
    justify-content: center;
  }
  .dashboard{
    position: relative;
    width: 100vw;
    display: grid;
    grid-template-columns: repeat(3, 100vw);
    transition: .3s linear;
  }
  .dashboard > *{
    height: 100vh;
    width: 100vw;
    overflow-x: hidden;
  }
}

@media (min-width: 768px) {
  .dashboard{
    transform: unset !important;
  }
  .profileDetails{
    border-bottom: 7px solid;
    padding: 10px;
    display: flex;
    gap: 20px;
  }
  .profileDetails > div{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
  }
  .profileDetails > div *{
    font-size: var(--t-size);
    font-family: texturina;
    text-transform: uppercase;
    color: var(--p-color);
  }
  .profileDetails > div > :last-child{
    font-size: var(--s-size);
    font-family: arial;

  }
  .profileDetails > div > :last-child *{
    font-size: var(--s-size);
    color: var(--b-color);
    margin-right: 5px;

  }
  .dashboard{
    display: flex;
  }
  .dashboard > div:not(:last-child){
    border-right: 1px solid var(--t-green);
  }
  .dashboard > :nth-child(1), .dashboard > :nth-child(2){
    width: fit-content;
  }
  .dashboard > :nth-child(3){ 
    flex: 1;
  }
  
}