.loader{
  position: fixed;
  inset: 0;
  height: 100vh;
  width: 100vw;
  overflow: hidden;
  z-index: 1001;
  background: var(--b-color);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 15px;
}
.logo{
  width: 200px;
  aspect-ratio: 1/1;
}
.loadText{
  color: var(--w-color);
  font-size: var(--fi-size);
}
.one {
  width: 15px; 
  aspect-ratio: 1/1;
  border-radius: 50%;
  background: var(--p-color);
  animation: enlarge 1.5s linear infinite;
}
@keyframes enlarge{
  0%, 100% { width: 15px; }
  25%, 75% { width: 30px; }
  50% { width: 45px; }
}