.passwordChange{
  width: min(400px, 90%);
  margin-inline: auto;
  padding-top: 50px;
  display: flex;
  gap: 25px;
  flex-direction: column;
}
.passwordChange label{
  width: 100%;
}
.passwordChange label > span{
  color: var(--p-color);
  font-size: var(--s-size);
  font-weight: 600;
}
.passwordChange label > input{
  display: block;
  margin-block: 10px;
  width: 100%;
  padding: 10px;
  border-radius: 4px;
}
.passwordChange button{
  display: block;
  width: 100%;
  border-radius: 4px;
  background-color: var(--p-color);
  color: var(--w-color);
  padding: 10px;
  font-size: var(--s-size);
  outline: none;
  border: none;
  cursor: pointer;
}