@import 'tailwindcss';

@font-face {
  font-family: raleway;
  src: url('../assets/fonts/raleway/Raleway-Black.ttf');
}
@font-face {
  font-family: raleway-l;
  src: url('../assets/fonts/raleway/Raleway-Light.ttf');
}
@font-face {
  font-family: raleway-m;
  src: url('../assets/fonts/raleway/Raleway-Medium.ttf');
}
@font-face {
  font-family: raleway-i;
  src: url('../assets/fonts/raleway/Raleway-Italic.ttf');
}
@font-face {
  font-family: texturina-b;
  src: url('../assets/fonts/texturina/Texturina_14pt-Bold.ttf');
}
@font-face {
  font-family: texturina;
  src: url('../assets/fonts/texturina/Texturina_14pt-Black.ttf');
}
@font-face {
  font-family: texturina-i;
  src: url('../assets/fonts/texturina/Texturina_14pt-Italic.ttf');
}
:root{
  --p-color: #039703;
  --t-green: rgba(0, 128, 0, 0.397);
  --l-p-color: lightgreen;
  --s-color: #d41f1f;
  --t-color: purple;
  --f-color: #ccc;
  --glossy-l-color: rgba(255, 255, 255, 0.293);
  --glossy-m-color: rgba(255, 255, 255, 0.593);
  --glossy-h-color: rgba(255, 255, 255, 0.793);
  --b-color: black;
  --w-color: white;

  --f-size: 16px;
  --s-size: 20px;
  --t-size: 24px;
  --fo-size: 28px;
  --fi-size: 32px;
  --si-size: 36px;
}
*{
  box-sizing: border-box;
  user-select: none;
  word-break: normal;
  word-wrap: break-word;
  hyphens: auto !important;
}
* ::-webkit-scrollbar{
  background-color: var(--b-color);
  width: 3px;
}
* ::-webkit-scrollbar-thumb{
  width: 5px;
  cursor: grab;
  background-color: var(--w-color);
  border-left: 1px solid var(--b-color);
}
body{
  overflow-x: hidden !important;
}
[aria-current='page'].active{
  position: relative;
  z-index: 0;
  color: var(--p-color) !important;
}
[aria-current='page'].active::after {
  content: '';
  z-index: -1;
  display: block;
  position: absolute;
  width: 100%;
  height: 100%;
  inset: 0;
  border-bottom: 3px solid var(--p-color);
}
[aria-current='page'].active *{
  fill: var(--p-color) !important;
}
.texturina{
  font-family: texturina;
}
.raleway{
  font-family: 'raleway';
}
.text-shadow-black-1{
  text-shadow: 1px 1px 1px black;
}
@keyframes slide {
  0% { height: 0px; }
  50% { height: 150px; }
  100% { height: 0px; }
}
@keyframes scrolltext{
  0%  { transform: translateX(100%); }
  100%  { transform: translateX(-100%); }
}