@font-face {
  font-family: raleway;
  src: url('../assets/fonts/raleway/Raleway-Black.ttf');
}
@font-face {
  font-family: raleway-l;
  src: url('../assets/fonts/raleway/Raleway-Light.ttf');
}
@font-face {
  font-family: raleway-m;
  src: url('../assets/fonts/raleway/Raleway-Medium.ttf');
}
@font-face {
  font-family: raleway-i;
  src: url('../assets/fonts/raleway/Raleway-Italic.ttf');
}
@font-face {
  font-family: texturina-b;
  src: url('../assets/fonts/texturina/Texturina_14pt-Bold.ttf');
}
@font-face {
  font-family: texturina;
  src: url('../assets/fonts/texturina/Texturina_14pt-Black.ttf');
}
@font-face {
  font-family: texturina-i;
  src: url('../assets/fonts/texturina/Texturina_14pt-Italic.ttf');
}
:root{
  --p-color: #039703;
  --t-green: rgba(0, 128, 0, 0.397);
  --l-p-color: lightgreen;
  --s-color: #d41f1f;
  --t-color: purple;
  --glossy-l-color: rgba(255, 255, 255, 0.293);
  --glossy-m-color: rgba(255, 255, 255, 0.593);
  --glossy-h-color: rgba(255, 255, 255, 0.793);
  --b-color: black;
  --w-color: white;

  --f-size: 14px;
  --s-size: 18px;
  --t-size: 22px;
  --fo-size: 26px;
  --fi-size: 30px;
  --si-size: 40px;
}
*{
  margin: 0;
  padding: 0;
  font-family: raleway-m, verdana, geneva, arial;
  color: black;
  box-sizing: border-box;
  user-select: none;
}
*:not(h1, h2, h3, h4, h5, h6){
  font-size: var(--f-size);
}
* ::-webkit-scrollbar{
  background-color: var(--b-color);
  width: 3px;
}
* ::-webkit-scrollbar-thumb{
  width: 5px;
  cursor: grab;
  background-color: var(--w-color);
  border-left: 1px solid var(--b-color);
}
body{
  min-width: 100vw;
  min-height: 100vh;
  padding-top: 55px;
}
[aria-current='page'].active {
  background-color: var(--s-color) !important;
  color: var(--w-color) !important;
}
[aria-current='page'].active *{
  fill: var(--w-color) !important;
}