@import 'tailwindcss';

@font-face {
  font-family: texturina;
  src: url('../assets/fonts/texturina/Texturina_14pt-Black.ttf');
}
@font-face {
  font-family: tuffy-regular;
  src: url('../assets/fonts/Tuffy/Tuffy-Regular.ttf');
}
@font-face {
  font-family: tuffy-bold;
  src: url('../assets/fonts/Tuffy/Tuffy-Bold.ttf');
}
@font-face {
  font-family: tuffy-bold-italic;
  src: url('../assets/fonts/Tuffy/Tuffy-BoldItalic.ttf');
}
@font-face {
  font-family: tuffy-italic;
  src: url('../assets/fonts/Tuffy/Tuffy-Italic.ttf');
}
@font-face {
  font-family: Caprasimo-Regular;
  src: url('../assets/fonts/Caprasimo-Regular.ttf');
}
.tuffy{ font-family: tuffy-regular; }
.tuffy-bold{  font-family: tuffy-bold; }
.tuffy-bold-italic{ font-family: tuffy-bold-italic; }
.tuffy-italic{  font-family: tuffy-italic; }
.caprasimo{  font-family: Caprasimo-Regular; }
*{
  box-sizing: border-box;
  user-select: none;
  word-break: normal;
  word-wrap: break-word;
  hyphens: auto !important;
}
* ::-webkit-scrollbar{
  background-color: var(--b-color);
  width: 3px;
}
* ::-webkit-scrollbar-thumb{
  width: 5px;
  cursor: grab;
  background-color: var(--w-color);
  border-left: 1px solid var(--b-color);
}
body{
  overflow-x: hidden !important;
}
[aria-current='page'].active{
  position: relative;
  z-index: 0;
  color: var(--p-color) !important;
}
[aria-current='page'].active::after {
  content: '';
  z-index: -1;
  display: block;
  position: absolute;
  width: 100%;
  height: 100%;
  inset: 0;
  border-bottom: 3px solid var(--p-color);
}
[aria-current='page'].active *{
  fill: var(--p-color) !important;
}
.texturina{
  font-family: texturina;
}
@keyframes slide {
  0% { height: 0px; }
  50% { height: 150px; }
  100% { height: 0px; }
}
@keyframes scrolltext{
  0%  { transform: translateX(100%); }
  100%  { transform: translateX(-100%); }
}