.arrowRight, .arrowLeft, .arrowDown{
  width: 20px;
}

.menuList li:nth-of-type(odd){
  background-color: var(--l-p-color);
}

@media (max-width: 630px) {
  .desktopNav{
    display: none !important;
  }
  .mobileNav{
    position: fixed;
    background-color: var(--w-color);
    overflow: hidden;
    overflow-y: auto;
    display: flex;
    top: 50px;
    height: calc(100vh - 53px);
    width: 99vw;
    padding: 10px;
    flex-direction: column;
    box-shadow: 2px 0 2px 2px var(--b-color);
    transform: translateX(calc(-100% - 50px));
    transition: .3s linear;
    z-index: 999;

    .menuList, .subList{
      position: relative;
      display: flex;
      flex-direction: column;
      list-style: none;
    }
    .menuItem > a, .menuItem > span, .subListItem > a, .subListItem > span, .subListBtn{
      display: flex;
      align-items: center;
      text-decoration: none;
      padding: 15px;
      padding-right: 0;
      width: 100%;
      height: 100%;
      overflow: hidden;
      cursor: pointer;
      transition: .2s linear;
    }
    .menuItem > a::after, .menuItem > span::after, .subListItem > a::after, .subListItem > span::after, .subListBtn::after{
      content: '';
      position: absolute;
      z-index: -1;
      inset: 0;
      height: 100%;
      transform: translateY(100%);
      border-left: 7px solid var(--b-color);
      transition: .2s linear;
    }
    .menuItem > a:hover::after, .menuItem > span:hover::after, .subListItem > a:hover::after, .subListItem > span:hover::after, .subListBtn:hover::after{
      transform: translateY(0);
      opacity: .8;
    }
    .menuItem, .subListItem, .subListBtn{
      position: relative;
      overflow: hidden;
    }
    .subListBtn{
      display: flex;
      justify-content: space-between;
      align-items: center;
    }
    .subList{
      position: absolute;
      left: calc(100% + 40px);
      top: 10px;
      gap: 0;
      display: flex;
      width: 100%;
      
    }
    .subList .subListBtn{
      justify-content: start;
      gap: 5px;
      font-size: var(--s-size);
      border-bottom: 2px solid var(--b-color);
      padding: 0;
      padding-bottom: 10px;
      cursor: pointer;
    }
    .subList .subListBtn:hover::after{
      border: none;
      opacity: unset;
    }
    .subList .subListBtn:hover{
      color: var(--p-color);
    }
    .subListBtn .arrowLeft{
      width: 30px;
    }
    .signUpBtn{
      height: 30px;
      fill: var(--w-color);
    }
    .signUpLink{
      display: flex;
      align-items: center;
      gap: 10px;
      background-color: var(--b-color);
      padding: 5px;
      color: var(--w-color);
      text-decoration: none;
    }
  }
  .deskMenuButton{
    display: none;
  }
  .menuBtn{
    fill: var(--b-color);
    height: 30px;
  }
  .closeBtn{
    fill: var(--t-color);
    height: 100%;
  }
  .closeButton{
    cursor: pointer;
    aspect-ratio: 1/1;
    border: 1px solid currentColor;
    height: calc(100% - 10px);
    width: fit-content;
    display: none;
  }
  .closeBtn:hover{
    background-color: var(--t-color);
    fill: var(--w-color);
  }
  .menuButton{
    color: var(--w-color);
    height: 30px;
    cursor: pointer;
    margin-right: 10px;
    aspect-ratio: 1/1;
  }
}
@media (min-width: 630px) {
  .mobileNav{
    display: none;
  }
  .menuButton, .closeButton{
    display: none;
  }
  .arrowDown{
    position: absolute;
    top: 10px;
    right: 10px;
    transform: scale(1.3);
  }
  .deskMenuButton{
    position: relative;
    display: flex;
    align-items: center;
    cursor: pointer;
    padding: 5px 10px;
    padding-right: 40px;
  }
  .deskMenuButton:hover, .deskMenuButton:hover .arrowDown{
    color: var(--p-color);
    fill: var(--p-color);
  }
  .desktopNav{
    position: fixed;
    top: 53px;
    left: 25%;
    border: 1px solid var(--b-color);
    display: none;
    z-index: 999;
    
    .menuList, .subList{
      background-color: var(--w-color);
      list-style: none;
      display: flex;
      flex-direction: column;
      padding-inline: 5px;
    }
    .menuList li > a, .menuList li > span{
      position: relative;
      display: flex;
      align-items: center;
      justify-content: space-between;
      padding: 10px;
      min-width: 200px;
      padding-inline: 10px 0;
      text-decoration: none;
      overflow: hidden;
      cursor: pointer;
      z-index: 0;
    }
    
    .menuList li > *:hover {
      color: var(--w-color);
      fill: var(--w-color);
    }
    .menuList li > a::after, .menuList li > span::after{
      content: '';
      position: absolute;
      inset: 0;
      width: 100%;
      height: 100%;
      background-color: var(--p-color);
      transition: .3s linear;
      transform: translateX(100%);
      z-index: -1;
    }
    .menuList li > a:hover::after, .menuList li > span:hover::after{
      transform: translateX(0);
    }
    .subList li > a::after, .subList li > span::after{
      transform: translateX(-100%);
    }
    .subList li > a:hover::after, .subList li > span:hover::after{
      transform: translateX(0);
    }
  
    .menuList > :last-child a, .menuList > :last-child span{
      border-bottom: none;
    }
    .subListContainer{
      position: relative;
    }
    .subList{
      position: absolute;
      display: none;
      min-width: 260px;
      top: 0;
      left: calc(100% + 8px);
      border: 1px solid var(--b-color)
    }
    .subList > :last-child a{
      border-bottom: none;
      background-color: var(--w-color);
    }
  }
}