.courseHeading{
  text-align: center;
  text-transform: uppercase;
  color: var(--p-color);
  font-size: var(--fi-size);
  padding: 20px;
  font-family: texturina;
}

.courseOverview *{
  padding: 20px;
  font-size: var(--s-size);
  letter-spacing: 1px;
  line-height: 1.5em;
}

.courseFee{
  margin-left: 20px;
  padding-block: 10px;
  display: flex;
  gap: 10px;
}
.courseFee *{
  font-size: var(--t-size);
  font-weight: 800;
  text-transform: uppercase;
}

.listContainer{
  position: relative;
  display: flex;
  width: 100vw;
  padding: 20px;
}
.subList, .courseCertificate > :nth-child(2){
  position: absolute;
  left: 20px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  font-size: var(--s-size);
  padding: 20px;
}
.subList > *, .courseCertificate > :nth-child(2) > *{
  letter-spacing: 1.3px;
  line-height: 1.4rem;

}
.courseOutline span{
  background-color: var(--p-color);
}
.courseOutline :nth-child(2), .courseObjective :nth-child(2), .courseBenefit :nth-child(2), .courseCertificate :nth-child(2), .courseModule :nth-child(2){
  width: 100%;
}
.courseObjective :nth-child(2), .courseBenefit :nth-child(2), .courseCertificate > :nth-child(2), .courseModule :nth-child(2){
  display: none;
}
.courseOutline span, .courseObjective span, .courseBenefit span, .courseCertificate span, .courseModule > span{
  width: 100%;
  color: var(--w-color);
  font-size: var(--s-size);
  font-weight: 400;
  border-right: 1px solid var(--w-color);
  padding: 10px 20px;
  display: block;
  background-color: var(--t-green);
  cursor: pointer;
}
.courseOutline span:hover, .courseObjective span:hover, .courseBenefit span:hover, .courseCertificate span:hover, .courseModule > span:hover{
  background-color: var(--p-color);
}
.courseOutline span{
  background-color: var(--p-color);
}
.courseCertificate > :nth-child(2){
  padding-left: 0;
}
.subList:last-child{
  list-style: none;
}
.subList > li{
  padding-block: 10px;
  font-size: var(--s-size);
  font-family: raleway-m, verdana;
  border-bottom: 1px solid var(--t-green);
}
.moduleIndex{
  margin-right: 10px;
  display: inline-flex;
  font-size: var(--t-size);
  width: 40px;
  height: 40px;
  color: var(--p-color);
  align-items: center;
  justify-content: center;
  border: 4px solid var(--t-green);
  border-radius: 50%;
}
.startCourse{
  display: block;
  width: 200px;
  margin-inline: 30px;
  margin-top: 30px;
  font-size: var(--t-size);
  text-decoration: none;
  color: var(--w-color);
  padding: 10px;
  background: var(--p-color);
}
.startCourse:hover{
  background-color: var(--t-green);
}
@media (max-width: 550px) {
  .listContainer{
    flex-wrap: wrap;
  }
  .subList, .courseCertificate > :nth-child(2){
    top: 100px;
  }
}
