.courseHeading{
  text-align: center;
  text-transform: uppercase;
  color: var(--p-color);
  font-size: var(--t-size);
  word-wrap: break-word;
  hyphens: auto;
  padding: 20px;
  font-family: texturina;
}

.courseOverview *{
  padding: 20px;
  font-size: var(--s-size);
  letter-spacing: 1px;
  line-height: 1.5em;
}

.courseFee{
  margin-left: 20px;
  display: flex;
  align-items: center;
  gap: 10px;
  font-size: var(--t-size);
  font-family: arial;
}
.courseFee *{
  font-size: var(--t-size);
  font-family: arial;
  font-weight: 600;
  text-transform: uppercase;
}

.listContainer{
  position: relative;
  display: flex;
  flex-direction: column;
  width: 100vw;
  height: fit-content;
  min-height: 100vh;
  overflow: hidden;
}
.subList, .listContent{
  padding: 20px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  font-size: var(--s-size);
  overflow: hidden;
}
.subList > *{
  letter-spacing: 1.3px;
  line-height: 1.4rem;
}
.moduleList{
  display: flex;
  gap: 15px;
  align-items: center;
}
.listContent{
  letter-spacing: 1.3px;
  line-height: 2.5rem;
}
.listButtons{
  padding-left: 20px;
  padding-block: 20px;
}
.listButtons span{
  color: var(--w-color);
  font-size: var(--s-size);
  font-weight: 400;
  width:min(130px, 45%);
  padding: 10px 20px;
  display: inline-block;

  background-color: var(--t-green);
  cursor: pointer;
}
.listButtons > span:hover{
  background-color: var(--p-color);
}
.listButtons:first-child span:first-child{
  background-color: var(--p-color);
}
.subList > *{
  list-style: none;
}
.subList > li{
  padding-block: 10px;
  font-size: var(--s-size);
  font-family: raleway-m, verdana;
  border-bottom: 1px solid var(--t-green);
}
.moduleIndex{
  display: inline-flex;
  min-width: 40px;
  aspect-ratio: 1/1;
  color: var(--p-color);
  align-items: center;
  justify-content: center;
  border: 3px solid var(--t-green);
  border-radius: 50%;
}
.startCourse{
  display: block;
  width: 200px;
  margin-inline: 30px;
  margin-top: 30px;
  font-size: var(--t-size);
  text-decoration: none;
  color: var(--w-color);
  padding: 10px;
  background: var(--p-color);
}
.startCourse:hover{
  background-color: var(--t-green);
}
@media (max-width: 550px) {
}
