.heading{
  background: var(--t-green);
  padding: 10px;
  color: var(--w-color);
  font-family: texturina;
  text-shadow: 1px 1px 1px var(--b-color);
}
.layout{
  display: flex;
  flex-direction: column;
  gap: 4px;
  padding: 4px 10px;
}
.lastSection{
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 4px;
}
.subSection{
  display: flex;
  gap: 4px;
}
@media (min-width: 550px) {
  
}
@media (max-width: 550px) {
  .layout{
    gap: 20px;
  }
  .subSection{
    flex-direction: column;
  }
}