.aside{
  display: flex;
  flex-direction: column;
  gap: 2px;
}

.aside > li {
  display: flex;
  gap: 5px;
  padding: 10px;
  text-transform: uppercase;
  background-color: var(--t-green);
}
.aside *{
  font-family: arial;
}