.coursesTab{
  margin-top: 10px;
  border-top: 5px solid;
  padding-top: 5px;
}
.tabSection{
  list-style: none;
  display: grid;
  gap: 2px;
  margin-bottom: 10px;
  grid-template-columns: repeat(auto-fill, 180px);
}
.tabSection > li{
  background-color: var(--p-color);
  color: var(--w-color);
  cursor: pointer;
  display: block;
  text-align: center;
  padding: 10px;
}
.tabSection > li:hover{
  background-color: var(--l-p-color);
}
.addCourseForm{
  display: flex;
  flex-direction: column;
  gap: 25px;
}
.addCourseForm label{
  /* background-color: var(--l-p-color); */
  padding: 20px;
  display: flex;
  width: min(900px, 100%);
  gap: 5px;
  flex-direction: column;
  border-radius: 6px;
}
.addCourseForm label input:focus, .addCourseForm label > textarea:focus{
  outline: 1px solid var(--p-color);
}
.addCourseForm label input, .addCourseForm label > textarea{
  display: block;
  line-height: 2rem;
  padding: 5px 10px;
  border-radius: 3px;
  border: none;
  resize: vertical;
  width: 100% !important;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  -o-border-radius: 3px;
}
.addCourseForm label > textarea{
  min-height: 100px;
  height: fit-content;
}
.addCourseForm label > div{
  margin-top: 10px;
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.addCourseForm :not(:scope > *) label > div{
  background-color: red;
}
.addCourseForm > button{
  width: min(900px, 100%);
  background-color: var(--p-color);
  color: var(--w-color);
  cursor: pointer;
  border: none;
  padding: 10px;
  border-radius: 5px;
}
.addMore{
  display: block;
  width: fit-content;
  margin-left: auto;
  border-radius: 3px;
  font-size: var(--t-size);
  cursor: pointer;
  padding: 5px 15px;
  background-color: var(--b-color);
  color: var(--w-color);
}
.coursesSelector{
  display: flex;
  gap: 5px;
  flex-direction: column;
  background-color: var(--l-p-color);
  padding: 20px;
  list-style: none;
  max-width: 900px;
  margin-bottom: 20px;
}
.coursesSelector > span{
  background-color: var(--w-color);
  border-bottom: 1px solid;
  padding: 10px;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
}
.coursesSelector > div{
  flex-direction: column;
  display: none;
  background-color: var(--w-color);
}
.coursesSelector > div > li{
  padding: 10px;
  border-bottom: 1px solid var(--b-color);
}