.description{
  padding: 50px 20px;
  font-weight: 500;
}
.mainContent{
  display: grid;
  justify-content: center;
  padding-block: 30px;
  padding-inline: 10px;
  column-gap: 30px;
  row-gap: 50px;
}

@media (min-width: 650px) {
  .mainContent{
    grid-template-columns: repeat(auto-fit, min(300px, 45%));
  }
}