.logo{
  aspect-ratio: 1/1;
}
.logoText{
  font-weight: 500;
}
.logoContainer{
  text-decoration: none;
}
.logoContainer:hover{
  text-decoration: underline;
  text-underline-offset: 5px;
}
.logoContainer:hover .logoText{
  color: var(--p-color);
}
@media (max-width: 450px) {
  .logo{
    height: 40px;
  }
  .logoText{
    display: none;
  }
}
@media (min-width: 450px) {
  .logoContainer{
    display: flex;
    gap: 5px;
    align-items: center;
  }
  .logoText{
    font-size: var(--t-size);
  }
  .logo{
    height: 40px;
  }
}