.notFound{
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  width: fit-content;
  text-align: center;
  display: flex;
  flex-direction: column;
  gap: 25px;
  align-items: center;
}

.notFound h2{
  font-size: 100px;
  font-family: texturina;
  color: var(--s-color);
}

.notFound p{
  font-size: var(--s-size);
}

.notFound a{
  position: relative;
  display: block;
  padding: 10px;
  border: 1px solid var(--p-color);
  color: var(--p-color);
  background-color: var(--w-color);
  text-decoration: none;
  z-index: 1;
  overflow: hidden;
}

.notFound a::after{
  content: '';
  position: absolute;
  inset: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  transform: translateX(99%);
  background-color: var(--p-color);
  transition: .3s linear;
}

.notFound a:hover{
  color: var(--w-color);
}

.notFound a:hover::after{
  transform: translateX(0%);
}